<div class = "form">
    <form action="">
      <label for="" class="form-label">Email address</label>
      <input type="text" class="form-control" id="" >
      <label for="" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="">
      <label for="" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="" >
      <label for="" class="form-label">Apellido</label>
      <input type="password" class="form-control" id="">
      <label for="" class="form-label">Documento</label>
      <input type="text" class="form-control" id="" >
      <label for="" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="" >
      <Button class="btn btn-primary submit-button">Aceptar</Button>
    </form>
  </div>