
<div class="pantalla-carga" *ngIf ="this.cargando">.</div>
<div class = "inicioBody">
    <p class="Welcome">Bienvenido {{this.usuario}}!</p>
    <div class="bocetos-ventana">
        <div class="list-group bocetos">
            <button  *ngFor = "let boceto of this.bocetos.keys();index as i"  type="button" class="list-group-item list-group-item-action" (click) = "changeItem(i+1)">{{boceto}}</button>
        </div>
        <div class="preview-container">
            <img id="preview" class ="preview" src="assets/img/placeholder.jpg" alt="">
        </div>
    </div>
    <div class = "bottom-buttons">
        <button [disabled] = "this.noSelection" class="btn btn-primary" (click) = "abrirBoceto()">Abrir Boceto</button>
        <button [disabled] = "this.noSelection" class="btn btn-primary" (click) = "eliminarBoceto()">Eliminar Boceto</button>
    </div>
    <div *ngIf="this.nuevoErrorB" class="alert alert-danger error" role="alert" >
        {{this.nuevoError}}
    </div>
    <div class = "bottom-buttons boceto-nuevo form-group">
        <button class="btn btn-primary" (click)="crearBoceto()">Nuevo Boceto</button>
        <input class = 'form-control' type="text" name="" id="nombreNuevoBoceto">
    </div>
    <div class = "bottom-buttons boceto-nuevo form-group">
        <button class="btn btn-primary" (click) = "conectarSala()">Ir a Sala</button>
        <input class = 'form-control' type="text" name="" placeholder="ID Sala" id="salaID">
    </div>
</div>