<html>
  <div class = "form">
    <form action="">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" >
      <label for="exampleFormControlInput2" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleFormControlInput2">

      <Button class="btn btn-primary submit-button">Submit</Button>
    </form>
  </div>
  <div class="registro-div text-center">
    <p>Aun no tienes una cuenta ? registrate hoy y conecta tu creatividad</p>
    <button class = "btn btn-primary">Registrarse</button>
  </div>
</html>
