.canvas{
    
    border: red dotted 2px;
    margin-top: 50px;
}

.ventana{
    display: flex;
    justify-content: center;
    margin-left: 65px;
    margin-right: 20%;
}

.barra-lateral{
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: gray;
    display: inline-block;
    overflow-x: hidden;
}

.barra-usuarios{
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: gray;
    top: 56px;
    right: 0px;
}