<div class="pantalla-carga" *ngIf ="this.cargando">.</div>
<div class="fondo"><p></p></div>
<div class = "botones-superiores bg-dark">
    <a class = 'boton-superior' [href] = "this.canvasState" [download]="this.name">Descargar</a>
    <a *ngIf = "this.puedeGuardar" class = 'boton-superior' (click) = "guardarCambios()">Guardar</a>
    <a *ngIf = "!this.haySala" class = 'boton-superior' (click) = "abrirSala()">Invitar</a>
</div>
<div class="barra-lateral">
    <div class="panel-izq">
        <button (click) = "this.cambiarHerramienta('pencil')" class="tool-button tool-active" [class.tool-active] = "this.revisarHerramienta('pencil')"><img src="assets/svg/brush.svg" alt="" class="pencil-img"></button>
        <div *ngIf ="this.revisarHerramienta('pencil')" class="pencil-options-size">
            <span class="pencil-size">{{this.lineWPincel}}</span>
            <button class="pencil-op-right" (click) = "bajarTamanoPincel()"></button>
            <button class="pencil-op-left" (click) = "subirTamanoPincel()"></button>
        </div>
        <div class="pencil-options-color" *ngIf ="this.revisarHerramienta('pencil')">
            <input type="color" class="pencil-color-picker" (ngModelChange) = 'this.cambiarColor()' [(ngModel)]="this.lineColor">
        </div>
        <button class="tool-button" (click) = "this.cambiarHerramienta('eraser')" [class.tool-active] = "this.revisarHerramienta('eraser')"><img src="assets/svg/eraser.svg" alt="" class="pencil-img"></button>
        <div *ngIf ="this.revisarHerramienta('eraser')" class="pencil-options-size">
            <span class="pencil-size">{{this.lineWEraser}}</span>
            <button class="pencil-op-right" (click) = "bajarTamanoEraser()"></button>
            <button class="pencil-op-left" (click) = "subirTamanoEraser()"></button>
        </div>
        <button class="tool-button undo" (click) = 'this.undo()'><img src="assets/svg/undo.svg" alt="" class="pencil-img"></button>
    </div>
</div>
<div class="ventana">
    <canvas class="canvas" id="canvas" #myCanvas></canvas>
</div>
<div  class="barra-usuarios">
    <div *ngIf = "this.haySala" class="panel-der">
        <div class = "nombre-sala">
            <p class="txt1">estas conectado a</p>
            <p class="txt2">Sala {{this.idSala}}</p>
        </div>
        <div class="sep-int">Integrantes</div>
    </div>
</div>