
.canvas{
    width: 100%;
    aspect-ratio: 16/9;
    border: red dotted 2px;
}

.ventana{
    display: flex;
    padding-left: 75px;
    padding-right: 22%;
    padding-top:25px;
    background-color: transparent;
}

.barra-lateral{
    position: fixed;
    height: 100%;
    width: 60px;
    display: inline-block;
    background-color: #212529;
    overflow-x: hidden;
}

.barra-usuarios{
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: #212529;
    top: 56px;
    right: 0px;
}